<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">


	<listener>
		<listener-class>de.unibayreuth.bayceer.bayeos.servlet.ServletInitializer</listener-class>
	</listener>


	<servlet>
		<servlet-name>sax</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>de.unibayreuth.bayceer.bayeos.saxcontroller</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.scanning.recursive</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>sax</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<display-name>bayeos-sax</display-name>
	
	<servlet>
		<servlet-name>Query</servlet-name>
		<jsp-file>/query.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Query</servlet-name>
		<url-pattern>/Query</url-pattern>
	</servlet-mapping>
	
	<resource-ref>
		<description>BayEOS Datasource</description>
		<res-ref-name>jdbc/bayeos</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

</web-app>